/* 
=================================================
Como dar estilos en CSS
=================================================
*/

/* Para llamar a un elemento propio de HTML, como los div, a, p, ul, li, etc */
a {

}

/* Para llamar a una clase debemos agregar un punto antes del nombre de la clase */
.nombre-de-la-clase {
  /* Esto funciona sin importar donde esté la clase */
}

/* Podemos llamar a varios elementos o clases al mismo tiempo */
div, h1, .clase1 {
  /* Esto le va a aplicar los mismos estilos a todos estos elementos */
}

/* Podemos llamar a elementos que estan dentro de otros para que se le aplique SOLO a esos
esto lo podemos usar principalmente cuando no querramos afectar a todos los otros elementos
aunque tengan la misma clase */

div > h1 {
  /* Esto solo se aplica a los h1 que esten directamente dentro de un div 
  lo que quiere decir, que todos los h1 que no esten directamente 
  dentro de unn div van a seguir sin estilos*/
}




/* 
=================================================
Estilos básicos en CSS
=================================================
*/

/* --------------------------
Unidades
--------------------------*/

div {
  width: 50px; /* pixeles */
  width: 50%; /* porcentaje: segun el padre container mas proximo */
  width: 50vw; /* viewport width: 100vw es el 100% del viewport, es decir, la pantalla, por lo que vw es siempre un porcentaje del ancho de la pantalla */
  height: 50vh; /* viewport height: igual que vw pero para el height */
}

/* --------------------------
Posicionamiento
--------------------------*/

div {
  /* referencias a los lados */
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;

  /* margenes */
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;

  /* relleno */
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}




/* --------------------------
Background
--------------------------*/

div {
  /* para el background-color se puede usar texto, rgb o hexa */
  background-color: aquamarine;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* --------------------------
Textos
--------------------------*/

div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold; /* esto es el grosor de la letra */
}


