/* 
=================================================
Estilos generales
=================================================
*/
* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* 
=================================================
Header
=================================================
*/

header{
    height: 80px;
    width: 100%;
    background-color: #073d4f;
    padding-left: 85px;
    padding-right: 95px;
    position: fixed;
    z-index: 10000;
}
.menu-container{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.menu-container > a > img {
    height: 50px;
}
.menu-container > a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;
}
.menu-container > a:hover{
    background-color: rgba(200, 200, 200, 0.1);
}