.main-container{
    background: url("https://images.ctfassets.net/wn7ipiv9ue5v/3GMulYxrXPEnKbNQTc2LUd/732d6878d82ac1128793eb462a7a9976/background.png?q=50&w=1920&fm=avif");
    margin-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.section{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}

/* 
=================================================
Header
=================================================
*/

.section-header {
    height: 15%;
    width: 100%;
    color: white; 
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-header > h2{
    font-size: 30px;
    padding-bottom: 15px;
}

.section-header > p{
    font-size: 14px;
    line-height: 25px;
}



/* 
=================================================
Body
=================================================
*/

.section-body{
    height: 75%;
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}




/* 
=================================================
Card
=================================================
*/

.card {
    width: 392px;
    border-radius: 10px;
}

.card-image {
    height: 217px;
    width: 392px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-size: cover;
}

.card-description {
    
    background-color: #f9d5ac;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
}

.card-tittle {
    font-size: 14.5px;
    color: #3d0202;
    font-weight: bolder;
}

.card-subtitle {
    padding-top: 13px;
    font-size: 11px;
    color: #dd261b;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
}
.card-subtitle > p {
    margin-right: 30px;
}






.stock {
    padding: 5px;
    padding-right: 15px;
    margin-top: 10px;
    background-color: #eabe8a;
    border-radius: 9px;
    border:1px solid #dbad78;
    font-size: small;
    color: #3d0202;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dbad78;

    display: flex;
    align-items:center;
}
.item-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-content > img{
    padding: 2px;
    width: 45px;
}
.card-button{
    margin-top: 10px;
    height: 50px;
    background: linear-gradient(to bottom, #51E5FA,#006CC7);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: 1px #015fbdb5;
    cursor: pointer;
}




/* 
=================================================
Card Images
=================================================
*/

.first-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/712rV4d9AMeFrAXKRtwJDe/cd87f9bb018e138fa1bfb07ca5b9bd8a/960x540_vip_egg.png?q=75&w=420&fm=avif);
}
.second-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/7wao0Rt6TMeeaIXPDGLzGc/1ebe9cb340e1829f8ea249137fc5da0d/960x540_Divine_pass.png?q=75&w=420&fm=avif);
}
.third-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/6OhkSN9WOFhLHdW6vUBVJB/58e427c2ddcf5054c85818526ed640c8/960x540_Elite_pass.png?q=75&w=420&fm=avif);
}
.fourth-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/7gCojMiYkBbfnz8bTcLZL5/7c7861b357ba341fa61357ded1c4d57e/Elite-pass-plus-webstore-arcana.png?q=75&w=420&fm=avif);
}
.fifth-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/yTPA5BNsNRh9tdO1lQKgS/2da30b3c5de9868ab895f9302872dd74/960x540_jewel_chest.png?q=75&w=420&fm=avif);
}


/* 
=================================================
Decorations
=================================================
*/

.tag{
    background-color: #cb2b39;
    width: 140px;
    border-radius: 10px;
    margin-left: -10px;
    top: 10px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    font-family: Arial;
}
