.main-container{
    background: url("https://images.ctfassets.net/wn7ipiv9ue5v/3GMulYxrXPEnKbNQTc2LUd/732d6878d82ac1128793eb462a7a9976/background.png?q=50&w=1920&fm=avif");
    height: 200%;
    margin-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    padding-left: 6.5%;
    padding-right: 6.5%;
}
.first-section{
    height: 630px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}
.section-header {
    height: 15%;
    width: 100%;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-header > h2{
    font-size: 30px;
}
.section-header > p{
    font-size: 14px;
}
.section-body{
    height: 75%;
    width: 100%;
    margin-bottom: 100px;
}
.card{
    height: 460px;
    width: 392px;
    border-radius: 10px;
}
.card-image{
    height: 217px;
    width: 392px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/712rV4d9AMeFrAXKRtwJDe/cd87f9bb018e138fa1bfb07ca5b9bd8a/960x540_vip_egg.png);
    background-size: cover;
}
.tag{
    background-color: #cb2b39;
    width: 140px;
    border-radius: 10px;
    margin-left: -10px;
    top: 10px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    font-family: Arial;
}
.card-description {
    background-color: #f9d5ac;
    height: calc(100% - 217px);
    width: 392px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-text{
    background-color:#f9d5ac;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
.card-tittle{
    font-size: 14.5px;
    color: #3d0202;
}
.card-stock{
    font-size: 11px;
    color: #dd261b;
    padding-top: 20px;
}
.stock{
    background-color: #eabe8a;
    width: 100%;
    height: 70px;
    border-radius: 9px;
    border:1px solid #dbad78;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #3d0202;
}
.item{
    display: flex;
    align-items:center;
}
.card-button{
    margin-top: 10px;
    height: 50px;
    background: linear-gradient(to bottom, #51E5FA,#006CC7);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: 1px #015fbdb5;
    cursor: pointer;
}
.second-section > .section-header{
    margin-left: 16px;
    display: flex;
}
.second-section > .section-header > h2{
    margin-bottom: 15px;
}
.second-section > .section-header > p{
    font-size: 14px;
}
.second-section > .section-body{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: space-around;
    margin-left: -10px;
}
.second-section > .section-body> .card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/7wao0Rt6TMeeaIXPDGLzGc/1ebe9cb340e1829f8ea249137fc5da0d/960x540_Divine_pass.png?q=75&w=420&fm=avif);
    
}
.second-section > .section-body > .second-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/6OhkSN9WOFhLHdW6vUBVJB/58e427c2ddcf5054c85818526ed640c8/960x540_Elite_pass.png?q=75&w=420&fm=avif);
}
.second-section > .section-body > .third-card > .card-image{
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/7gCojMiYkBbfnz8bTcLZL5/7c7861b357ba341fa61357ded1c4d57e/Elite-pass-plus-webstore-arcana.png?q=75&w=420&fm=avif);
}