.main-container{
    background: url("https://images.ctfassets.net/wn7ipiv9ue5v/3GMulYxrXPEnKbNQTc2LUd/732d6878d82ac1128793eb462a7a9976/background.png?q=50&w=1920&fm=avif");
    height: 200%;
    margin-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    padding-left: 6.5%;
    padding-right: 6.5%;
}
.first-section{
    height: 630px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}
.section-header {
    height: 15%;
    width: 100%;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-header > h2{
    font-size: 30px;
}
.section-header > p{
    font-size: 14px;
}
.section-body{
    height: 75%;
    width: 100%;
}
.card{
    height: 460px;
    width: 392px;
    border-radius: 10px;
}
.card-image{
    height: 217px;
    width: 392px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: url(https://images.ctfassets.net/wn7ipiv9ue5v/712rV4d9AMeFrAXKRtwJDe/cd87f9bb018e138fa1bfb07ca5b9bd8a/960x540_vip_egg.png);
    background-size: cover;
}
.tag{
    background-color: #cb2b39;
    width: 140px;
    border-radius: 10px;
    margin-left: -10px;
    top: 10px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    font-family: Arial;
}
.card-description {
    background-color: #f9d5ac;
    height: calc(100% - 217px);
    width: 392px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-text{
    background-color:#f9d5ac;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
.card-tittle{
    font-size: 14.5px;
    color: #3d0202;
}
.card-stock{
    font-size: 11px;
    color: #dd261b;
    padding-top: 20px;
}
.stock{
    background-color: yellow;
    width: 100%;
    height: 70px;
}
.card-bottom{
    background-color: aqua;
    width: 100%;
    height: 50px;
}
